@model IEnumerable<BigShool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

    <div class="container">
        <h3>Danh sách các khóa học</h3>
        <div class="row ">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="details">
                                <div class="lecturer">
                                     <strong>
                                           @item.Lecturer.Name
                                     </strong>
                                    <button data-user-id="@item.LecturerId" class="btn-follow btn btn-success pull-right btn-sm js-toggle-follow">Follow</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body ml-1">
                            <img src="~/Content/images/@item.Images" width="300px" height="200px" />
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-4 date">
                                    <div class="day">
                                        @item.DateTime.ToString("dd")
                                    </div>
                                    <div class="month">
                                        @item.DateTime.ToString("MM")
                                    </div>

                                    <div class="year">
                                        @item.DateTime.ToString("yyyy")
                                    </div>
                                </div>
                                <div class="col-md-8 category ">
                                    <strong>
                                        @item.Category.Name
                                    </strong>

                                     <button data-course-id="@item.Id" class="col-md-offset-1 btn btn-primary btn-sm js-toggle-attendance">Going?</button>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

